<header class="site-header">
  <a 
    class="home-logo" 
    [routerLink]="['/' + ROUTE_TOKENS.home]"
    ariaCurrentWhenActive="page"
    routerLinkActive="selected-item"
  >
    <img
      [src]="logoUrl"
      alt="Home - Just Like People" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="" class="menu-option">Home</a>
      </li>
      <li
        routerLinkActive="selected-item"
      >
        <button
          (keydown.escape)="selectCategory('none')"
          (click)="toggleMenu()"
          role="link"
          class="menu-option">
          Products
          <span
            [class.rotated-arrow-icon]="showMenu"
            class="arrow-icon"></span>
        </button>
        <ul
          class="collapsable-content"
          [class.show-submenu]="showMenu">
          @if (showMenu)
          {
            @for (link of LINKS; track link.category) {
              <li class="content-inner">
                <a
                  [routerLink]="['/' + ROUTE_TOKENS.products, link.category]"
                  routerLinkActive="selected-sub-item"
                  ariaCurrentWhenActive="page"
                  (click)="selectCategory(link.category)"
                  (keydown.escape)="selectCategory('none')"
                  class="link"
                >
                  {{ link.description }}
                </a>
              </li>
            }
          } @else {
            <li [routerLink]="['/' + ROUTE_TOKENS.products]" tabindex="-1"></li>
          }
        </ul>
      </li>
      <li>
        <a 
          [routerLink]="[ '/' + ROUTE_TOKENS.contact]" 
          routerLinkActive="selected-item"
          ariaCurrentWhenActive="page"
          class="menu-option"
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>

  <!-- <div class="wrap-collabsible">
    <input
      #products
      id="collapsible"
      class="toggle"
      type="checkbox"
    >
    <label for="collapsible"
      class="lbl-toggle">Products</label>
    <div
      class="collapsible-content"
      (mouseleave)="closeMenu()"
    >
      <div class="content-inner">
        <div>
          @for(link of LINKS; track $index){
            <div>
              <div
                class="button"
                [routerLink]="['/' + ROUTE_TOKENS.products, link.category]"
                [queryParams]="{ productId: link.firstProduct }"
                (click)="selectCategory(link.category)"
              >{{ link.description }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div
    [routerLink]="[ '/' + ROUTE_TOKENS.contact]"
    class="menu-option">Contact
  </div> -->
</header>
